In [90]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [63]:
df=pd.read_csv('/kaggle/input/student-habits-vs-academic-performance/student_habits_performance.csv')

In [64]:
df.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

In [65]:
df.shape

(1000, 16)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       909 non-null    object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB

In [67]:
df.isnull().sum()

student_id                        0
age                               0
gender                            0
study_hours_per_day               0
social_media_hours                0
netflix_hours                     0
part_time_job                     0
attendance_percentage             0
sleep_hours                       0
diet_quality                      0
exercise_frequency                0
parental_education_level         91
internet_quality                  0
mental_health_rating              0
extracurricular_participation     0
exam_score                        0
dtype: int64

In [68]:
df['parental_education_level'].isnull().sum()

91

In [69]:
df['parental_education_level']

0           Master
1      High School
2      High School
3           Master
4           Master
          ...
995    High School
996    High School
997       Bachelor
998       Bachelor
999       Bachelor
Name: parental_education_level, Length: 1000, dtype: object

In [70]:
df[df['parental_education_level'].isnull()]

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
10,S1010,19,Female,4.6,3.7,0.8,No,77.6,5.8,Fair,1,NaN,Good,3,No,63.3
33,S1033,18,Female,4.0,0.9,1.1,No,99.5,5.8,Poor,2,NaN,Average,5,No,70.7
47,S1047,23,Female,2.5,2.9,2.7,No,83.5,7.0,Good,4,NaN,Good,8,Yes,59.7
74,S1074,21,Female,2.3,1.0,0.4,No,100.0,6.4,Fair,6,NaN,Good,1,No,66.9
93,S1093,22,Male,4.1,2.5,3.0,No,85.1,5.8,Good,4,NaN,Good,5,No,70.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,S1921,23,Female,4.4,2.7,1.0,No,79.8,6.1,Fair,6,NaN,Average,3,No,85.4
925,S1925,19,Other,1.7,2.9,1.6,Yes,97.3,8.7,Good,1,NaN,Good,7,No,53.6
939,S1939,18,Female,4.7,3.2,1.9,No,75.2,5.4,Good,3,NaN,Good,6,No,71.0
945,S1945,23,Male,6.0,2.9,2.1,Yes,98.9,6.4,Poor,0,NaN,Average,7,No,100.0
967,S1967,22,Male,5.2,4.1,3.8,No,95.6,5.9,Fair,0,NaN,Good,6,No,76.1

In [71]:
df['parental_education_level'].unique()

array(['Master', 'High School', 'Bachelor', nan], dtype=object)

In [72]:
df['parental_education_level']=df['parental_education_level'].map({np.nan:0, 'High School':1,'Bachelor':2,'Master':3})

In [73]:
df['parental_education_level'].head()

0    3
1    1
2    1
3    3
4    3
Name: parental_education_level, dtype: int64

In [74]:
df['parental_education_level'].unique()

array([3, 1, 2, 0])

In [75]:
df['parental_education_level']=df['parental_education_level'].astype(int)

In [76]:
df['parental_education_level'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: parental_education_level
Non-Null Count  Dtype
--------------  -----
1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(4), object(6)
memory usage: 125.1+ KB

In [78]:
df['student_id'].head()

0    S1000
1    S1001
2    S1002
3    S1003
4    S1004
Name: student_id, dtype: object

In [79]:
df['student_id']=df['student_id'].str.replace('S','',case=False,regex=False)

In [80]:
df['student_id'].head(-1)

0      1000
1      1001
2      1002
3      1003
4      1004
       ...
994    1994
995    1995
996    1996
997    1997
998    1998
Name: student_id, Length: 999, dtype: object

In [81]:
df['student_id']=df['student_id'].astype(int)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(5), object(5)
memory usage: 125.1+ KB

In [83]:
df['gender'].head()

0    Female
1    Female
2      Male
3    Female
4    Female
Name: gender, dtype: object

In [84]:
df['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [91]:
encoder=LabelEncoder()

In [92]:
df['gender']=encoder.fit_transform(df['gender'])

In [93]:
df['gender'].head()

0    0
1    0
2    1
3    0
4    0
Name: gender, dtype: int64

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   int64
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(6), object(4)
memory usage: 125.1+ KB

In [95]:
df['study_hours_per_day'].head()

0    0.0
1    6.9
2    1.4
3    1.0
4    5.0
Name: study_hours_per_day, dtype: float64

In [98]:
df['study_hours_per_day'].isnull().sum()

0

In [99]:
df['study_hours_per_day']=df['study_hours_per_day'].astype(int)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   int64
 3   study_hours_per_day            1000 non-null   int64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(5), int64(7), object(4)
memory usage: 125.1+ KB

In [102]:
df['social_media_hours']=df['social_media_hours'].astype(int)

In [103]:
df['netflix_hours']=df['netflix_hours'].astype(int)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   int64
 3   study_hours_per_day            1000 non-null   int64
 4   social_media_hours             1000 non-null   int64
 5   netflix_hours                  1000 non-null   int64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(3), int64(9), object(4)
memory usage: 125.1+ KB

In [105]:
df['part_time_job'].head()

0    No
1    No
2    No
3    No
4    No
Name: part_time_job, dtype: object

In [106]:
df['part_time_job'].unique()

array(['No', 'Yes'], dtype=object)

In [107]:
df['part_time_job']=encoder.fit_transform(df['part_time_job'])

In [108]:
df['part_time_job'].head()

0    0
1    0
2    0
3    0
4    0
Name: part_time_job, dtype: int64

In [109]:
df['part_time_job'].unique()

array([0, 1])

In [110]:
df['part_time_job'].astype(int)

0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    1
997    0
998    1
999    0
Name: part_time_job, Length: 1000, dtype: int64

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   int64
 3   study_hours_per_day            1000 non-null   int64
 4   social_media_hours             1000 non-null   int64
 5   netflix_hours                  1000 non-null   int64
 6   part_time_job                  1000 non-null   int64
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(3), int64(10), object(3)
memory usage: 125.1+ KB

In [112]:
df['attendance_percentage'].head()

0    85.0
1    97.3
2    94.8
3    71.0
4    90.9
Name: attendance_percentage, dtype: float64

In [113]:
df['attendance_percentage'].astype(int)

0       85
1       97
2       94
3       71
4       90
      ...
995     77
996     86
997     61
998    100
999     89
Name: attendance_percentage, Length: 1000, dtype: int64

In [115]:
df['sleep_hours'].head()

0    8.0
1    4.6
2    8.0
3    9.2
4    4.9
Name: sleep_hours, dtype: float64

In [116]:
df['diet_quality'].head()

0    Fair
1    Good
2    Poor
3    Poor
4    Fair
Name: diet_quality, dtype: object

In [117]:
df['diet_quality'].unique()

array(['Fair', 'Good', 'Poor'], dtype=object)

In [118]:
df['diet_quality']=encoder.fit_transform(df['diet_quality'])

In [119]:
df['diet_quality'].head()

0    0
1    1
2    2
3    2
4    0
Name: diet_quality, dtype: int64

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   int64
 3   study_hours_per_day            1000 non-null   int64
 4   social_media_hours             1000 non-null   int64
 5   netflix_hours                  1000 non-null   int64
 6   part_time_job                  1000 non-null   int64
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   int64
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(3), int64(11), object(2)
memory usage: 125.1+ KB

In [121]:
df['internet_quality'].head()

0    Average
1    Average
2       Poor
3       Good
4       Good
Name: internet_quality, dtype: object

In [122]:
df['internet_quality'].unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [124]:
df['internet_quality']=encoder.fit_transform(df['internet_quality'])

In [125]:
df['internet_quality'].head()

0    0
1    0
2    2
3    1
4    1
Name: internet_quality, dtype: int64

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   int64
 3   study_hours_per_day            1000 non-null   int64
 4   social_media_hours             1000 non-null   int64
 5   netflix_hours                  1000 non-null   int64
 6   part_time_job                  1000 non-null   int64
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   int64
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   int64
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(3), int64(12), object(1)
memory usage: 125.1+ KB

In [127]:
df['extracurricular_participation'].head()

0    Yes
1     No
2     No
3    Yes
4     No
Name: extracurricular_participation, dtype: object

In [128]:
df['extracurricular_participation'].unique()

array(['Yes', 'No'], dtype=object)

In [129]:
df['extracurricular_participation']=encoder.fit_transform(df['extracurricular_participation'])

In [130]:
df['extracurricular_participation'].head()

0    1
1    0
2    0
3    1
4    0
Name: extracurricular_participation, dtype: int64

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   int64
 3   study_hours_per_day            1000 non-null   int64
 4   social_media_hours             1000 non-null   int64
 5   netflix_hours                  1000 non-null   int64
 6   part_time_job                  1000 non-null   int64
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   int64
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   int64
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   int64
 15  exam_score                     1000 non-null   float64
dtypes: float64(3), int64(13)
memory usage: 125.1 KB

In [132]:
df['exam_score'].head()

0     56.2
1    100.0
2     34.3
3     26.8
4     66.4
Name: exam_score, dtype: float64

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   int64
 3   study_hours_per_day            1000 non-null   int64
 4   social_media_hours             1000 non-null   int64
 5   netflix_hours                  1000 non-null   int64
 6   part_time_job                  1000 non-null   int64
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   int64
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   int64
 12  internet_quality               1000 non-null   int64
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   int64
 15  exam_score                     1000 non-null   float64
dtypes: float64(3), int64(13)
memory usage: 125.1 KB